.courseInfo {
  display: flex;
  gap: 50px;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.title {
  background-color: #fce81c;
  border-radius: 3px;
}

.authorsList {
  list-style: none;
  padding-left: 0;
}

.description {
  max-width: 60%;
}

p {
  padding-bottom: 0;
}

.button {
  float: right;
}
