.button {
  height: fit-content;
  padding: 8px 16px;
  background-color: #247298;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
