.empty_list_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.courses_button_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.button {
  float: right;
  margin-bottom: 20px;
}